body {
    /* background: rgb(255, 255, 255);
    background: linear-gradient(65deg, rgba(255, 255, 255, 1) 0%, rgba(80, 140, 176, 1) 100%);
    color: #03254c; */
    /* overflow: hidden; */
    background-color: white;
    position: relative;
}

.navbar {
    font-family: 'Bebas Neue', cursive;
}

.nav-item {
    margin-left: 12px;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 0.6;
    /* Firefox */
}

.table {
    font-family: monospace;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.form-group label {
    font-size: small;
}